# Backend
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/retroboli
FRONTEND_ORIGIN=http://localhost:5173

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2b$12$.FeRtspR9MyYvsTLhpSnpeSeFaw49OkOVY0L4DlOLNzFvvqSYdTjS
SESSION_TOKEN_SECRET=retroboli-development-session-secret-change-me
